{% extends "base.html" %}

{% block main_bocks %}
<div class="pageTitleBox animated fadeInDown">
  <h1 class="pageTitle">What <span id="redText">we</span> do.</h1>
</div>

<div id="container" class="animated fadeInDown">
  <div class="boxes">
    <p class="boxTitle">Inspire</p>
    <p class="boxText">MEC's mission is to inspire students within the School of Engineering and Applied Science. Engineering is about both passion and creation.</p>
  </div>
  
  <div class="boxes">
    <p class="boxTitle">Re-Think</p>
    <p class="boxText">Helping to shape the way students think about the field of engineering and obstacles that Miami students are helping to solve.</p>
  </div>
  
  <div class="boxes">
    <p class="boxTitle">Imagine</p>
    <p class="boxText">Miami's students are doing amazing things in the field of research, and Miami University want to see their work to shine and inspire others to go beyond their limits.</p>
  </div>
  
  <div class="boxes">
    <p class="boxTitle">Unite</p>
    <p class="boxText">Within just the past semester alone, MEC has become a well-known organization within the school and has brought students together in a way that has never been done before.</p>
  </div>
</div>
{% end %}
