{% extends "base.html" %}

{% block main_bocks %}
<div class="pageTitleBox animated fadeInDown">
  <h1 class="pageTitle">What <span id="redText">we</span> do.</h1>
</div>

<div id="container" class="animated fadeInDown">
  <div class="boxes">
    <p style="color:red; padding-top:20px;">Inspire</p>
    <p style="font-size:16px;">MEC's mission is to inspire students within the School of Engineering and Applied Science. Engineering is about both passion and creation.</p>
  </div>
  
  <div class="boxes">
    <p style="color:red; padding-top:20px;">Re-Think</p>
    <p style="font-size:16px;">Helping to shape the way students think about the field of engineering and obstacles that Miami students are helping to solve.</p>
  </div>
  
  <div class="boxes">
    <p style="color:red; padding-top:20px;">Imagine</p>
    <p style="font-size:16px;">Miami's students are doing amazing things in the field of research, and Miami University want to see their work to shine and inspire others to go beyond their limits.</p>
  </div>
  
  <div class="boxes">
    <p style="color:red; padding-top:20px;">Unite</p>
    <p style="font-size:16px;">Within just the past semester alone, MEC has become a well-known organization within the school and has brought students together in a way that has never been done before.</p>
  </div>
</div>
{% end %}
