{% extends "base.html" %}

{% block main_bocks %}
<div id="container" class="animated fadeInDown">
  <div class="boxes">
    <p class="boxTitle">Driven</p>
    <p class="boxText">We are a group of highly motivated MU students, all working to help Miami Engineering be the best that it can be.</p>
  </div>
  
  <div class="boxes">
    <p class="boxTitle">Committed</p>
    <p class="boxText">We are working hard to make sure that</p>
  </div>
  
  <div class="boxes">
    <p class="boxTitle">Imagine</p>
    <p class="boxText">Miami's students are doing amazing things in the field of research, and Miami University want to see their work to shine and inspire others to go beyond their limits.</p>
  </div>
  
  <div class="boxes">
    <p class="boxTitle">Unite</p>
    <p class="boxText">Within just the past semester alone, MEC has become a well-known organization within the school and has brought students together in a way that has never been done before.</p>
  </div>
</div>
{% end %}
